jcOutcome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:vgs:jc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgramOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="WorkIndependently" type="xs:string" />
        <xs:element name="TravelIndependently" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="CompletedBy" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="ed" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>