JsstOutcome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:vgs:jsst" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgramOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FollowInstructions" type="xs:unsignedByte" />
        <xs:element name="JobSearchTechniques" type="xs:unsignedByte" />
        <xs:element name="TransferrableSkills" type="xs:unsignedByte" />
        <xs:element name="Assignment" type="xs:unsignedByte" />
        <xs:element name="Application" type="xs:unsignedByte" />
        <xs:element name="Resume" type="xs:unsignedByte" />
        <xs:element name="CoverLetter" type="xs:unsignedByte" />
        <xs:element name="Interviewing" type="xs:unsignedByte" />
        <xs:element name="Etiquette" type="xs:unsignedByte" />
      </xs:sequence>
      <xs:attribute name="CompletedBy" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="ed" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>