PdOutcome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:vgs:pd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgramOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NumberOfInterviews" type="xs:unsignedByte" />
        <xs:element name="NumberOfJobCoachingHours" type="xs:unsignedByte" />
        <xs:element name="NumberOfJobRententionHours" type="xs:unsignedByte" />
        <xs:element name="JobGoal1" />
        <xs:element name="JobGoal2" />
        <xs:element name="JobGoal3" />
      </xs:sequence>
      <xs:attribute name="CompletedBy" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="ed" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>