waOutcome.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:vgs:wa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProgramOutcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AcceptingAuthority1" type="xs:unsignedByte" />
        <xs:element name="AcceptingAuthority2" type="xs:unsignedByte" />
        <xs:element name="Appearance1" type="xs:unsignedByte" />
        <xs:element name="Appearance2" type="xs:unsignedByte" />
        <xs:element name="Attendance1" type="xs:unsignedByte" />
        <xs:element name="Attendance2" type="xs:unsignedByte" />
        <xs:element name="OnTaskBehavior1" type="xs:unsignedByte" />
        <xs:element name="OnTaskBehavior2" type="xs:unsignedByte" />
        <xs:element name="Productivity1" type="xs:unsignedByte" />
        <xs:element name="Productivity2" type="xs:unsignedByte" />
        <xs:element name="Punctuality1" type="xs:unsignedByte" />
        <xs:element name="Punctuality2" type="xs:unsignedByte" />
        <xs:element name="WorkQuality1" type="xs:unsignedByte" />
        <xs:element name="WorkQuality2" type="xs:unsignedByte" />
        <xs:element name="waScore1" type="xs:decimal" />
        <xs:element name="waScore2" type="xs:unsignedByte" />
      </xs:sequence>
      <xs:attribute name="CompletedBy" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="ed" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:decimal" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>